<!DOCTYPE html>
<html>
<head>
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/styles.css">
	<link rel="stylesheet" href="../static/loading.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<link rel="icon" href="../static/icon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<script src="../static/custom_js.js"></script>
	<title>Clazie</title>
</head>
<body>

	<!-- HEADER -->
	<nav class = "navbar navbar-inverse navbar-static-top" id="top-nav">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href="./index.html">Clazie :: IOException</a>
			</div>
		</div>
	</nav>

	
	<div id="pr-none">
		{% block content %}{% endblock %}
	</div>


	<footer><p>copyright © 2015 by IOException</p></footer>
</body>
</html>
